body {
	background: #f9e933;
	font-size: 100%;
	font-family: 'Droid Sans', sans-serif;
}

header, main, footer {
	min-width: 855px;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
}

header h1 {
	float: left;
	width: 570px;
	color: red;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: large;
}

h5 {
	font-size: 1.2em;
}

header nav {
	float: right;
	width: 285px;
}

header nav a {
	color: red;
}

main {
	background: white;
	display: block;
	overflow: auto;
}

.main-left {
	float: left;
	width: 570px;
}

.main-right {
	float: right;
	width:285px;
}

footer {
	overflow: auto;
}

.contact {
	float: left;
	width: 570px;
}

.sitemap {
	float: right;
	width:285px;
}